<div class="container home-section">
    <div class="text-content">
        <h1>{{ 'HOME.HELLO' | translate }} <span class="highlight">Ton Prénom</span></h1>
        <h2>{{ 'HOME.ROLE' | translate }}</h2>

        <p class="intro-text">
            {{ 'HOME.INTRO' | translate }}
        </p>

        <button mat-flat-button color="accent" routerLink="/projects">
            {{ 'HOME.BUTTON' | translate }}
        </button>
    </div>

    <div class="image-content">
        <!-- Image décalée comme la Figure 6 du PDF -->
        <img src="assets/img/photo_profil.jpg" alt="Photo de profil" class="profile-pic">
    </div>
</div>