.app-container {
    height: 100vh;
}

.app-sidenav {
    width: 250px;
    padding: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.app-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-navbar {
    .spacer {
        flex: 1 1 auto;
    }
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

.app-footer {
    padding: 10px 20px;
    font-size: 0.8em;
}

mat-nav-list a mat-icon {
    margin-right: 10px;
}