<mat-sidenav-container class="app-container">

  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <p>Sidebar Content</p>
    <mat-nav-list>
      <a mat-list-item href="#"> <mat-icon>home</mat-icon> Home </a>
      <a mat-list-item href="#"> <mat-icon>info</mat-icon> About </a>
      <a mat-list-item href="#"> <mat-icon>settings</mat-icon> Settings </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">

    <!-- Navbar -->
    <mat-toolbar color="primary" class="app-navbar">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Main Content -->
    <main class="main-content">
      <p>Super beau menu principal</p>
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <mat-toolbar class="app-footer" color="accent">
      <span>Portfolio - Mehdi BEN SMAIL</span>
    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>