.skills-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill-card {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 1rem;
}

.skill-item {
    margin-bottom: 1.5rem;

    .label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }
}